:::: {.grid .text-center .list}

<% for (const item of items) { %>

:::: {.g-col-12 .g-col-lg-12 .g-col-xl-6 <%= metadataAttrs(item) %>}

:::: {.quarto-grid-item .card .h-100 .card-center .hovercard-extension}

```{=html}
<div class="extension-list">
<% for (const item of items) { %>
  <div class="extension-item">
    <h3><a href="<%- item.href %>"><%= item.title %></a></h3>
    <p class="tagline"><%= item.tagline %></p>
    
    <div class="metadata">
      <span class="version">Version: <%= item.version %></span>
      <span class="maintainer">By: <%= item.maintainer %></span>
    </div>

    <div class="details">
      <% if (item.tags && item.tags.length) { %>
        <div class="tags">
          <% item.tags.forEach(tag => { %>
            <span class="tag"><%= tag %></span>
          <% }) %>
        </div>
      <% } %>

      <% if (item.permissions) { %>
        <div class="permissions">
          <h4>Permissions:</h4>
          <ul>
            <% Object.entries(item.permissions).forEach(([key, value]) => { %>
              <li><strong><%= key %>:</strong> <%= value %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <% if (item.releases) { %>
        <div class="platforms">
          <h4>Available Platforms:</h4>
          <ul>
            <% item.releases.forEach(release => { %>
              <li><a href="<%- release.url %>"><%= release.platform %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
<% } %>
</div>

```
::::

::::

<% } %>

::::